.btn-main {
  width: 262px;
  height: 73px;
  background-image: linear-gradient(to right, #febf94, #e68459);
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-radius: 15px;
  box-shadow: 0px 30px 40px 0px rgba(254, 191, 148, 0.24);
}

.btn {
  color: #fff;
  background-color: transparent;
  // box-shadow: 0px 0px 16px #0f26f5;
  border-radius: 15px;
  &:focus {
    outline: none;
    border: none;
  }

  &__body {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 4px;

    &__text {
      font-family: "HelveticaNeueCyr-Roman";
      width: 100%;
      text-align: center;
      font-weight: 800;
      font-size: 14px;
      line-height: 24px;
      padding: 10px 0;
      color: #fff;
    }
  }
}
.subscribe-btn {
  display: inline-block;
  width: 135px;
  height: 35px;
  background-image: linear-gradient(to right, #f7c659, #97139e);
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-radius: 10px;
  & .btn__text {
    text-align: center;
    font-size: 10px;
    font-family: "HelveticaNeueCyr-Medium";
  }
}
.modal-btn {
  width: 245px;
  height: 70px;
  background-image: linear-gradient(to right, #f7c659, #f17630 37%, #97139e);
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 30px 40px 0px rgba(254, 191, 148, 0.24);
}
