.page-header {
  position: relative;
  height: 240px;
  padding-top: 17px;
  background-image: url("../img/header-bac.png");
  background-size: cover;
  background-repeat: no-repeat;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 50%;
  //   height: 90%;
  //   background-image: url("../img/lengs.png");
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   z-index: 2;
  // }
  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-35%);
    width: 70%;
    margin: 0 auto;
  }
}
.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: $font-fem;

  .logo {
    display: none;
    max-width: 340px;
    margin-top: 40px;

    &-img {
      padding-bottom: 5px;
      & img {
        max-height: 80px;
      }
    }
  }
}

.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;
  color: $header_col;
}
// #menu__toggle {
//   opacity: 0;
// }

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 20px;
  right: 5px;

  width: 40px;
  height: 30px;
  color: #000000;
  cursor: pointer;
  z-index: 100;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 30px;
  height: 5px;

  background-color: #000000;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  width: 40px;

  right: 0px;
  top: -10px;
}
.menu__btn > span::after {
  content: "";
  width: 40px;

  right: 0px;
  top: 10px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 30%;
  height: 100%;

  margin: 0;
  padding: 9% 5% 80px 0;
  text-align: end;

  list-style: none;
  z-index: 99;

  font-size: 30px;
  line-height: 50px;

  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: linear-gradient(89.09deg, #000927 1.12%, #051954 98.55%);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 50px;

  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;

  transition-duration: 0.25s;
}
.menu__item:hover {
  color: #a8b5de;
}

.main-nav__item--active > .main-nav__link {
  color: $header_col;
}
.sticky .main-nav__link {
  color: $header_col;
}

.logo {
  display: block;
}

.logo__link {
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo__caption {
  max-width: 310px;
}
.menu__li--active {
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1686px) {
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
}
