$font-fem: Copperplate, sans-serif;

body {
  margin: 0;
  font-family: $font-fem;
  color: #fff;
  // overflow: hidden;
}

h1 {
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}
h2 {
  font-weight: 800;
  font-size: 33px;
  line-height: 46px;
  letter-spacing: 0.1em;

  margin: 0;
  text-transform: uppercase;
}
h3 {
  font-size: 30px;
  line-height: 45px;
  margin: 0;
}
h4 {
  margin: 0;
}
img {
  width: 100%;
  //   object-fit: cover;
}
a {
  margin: 0;
  text-decoration: none;
}
ul {
  margin: 0;
  list-style-type: none;
}
p {
  margin: 0;
}
// .container {
//   display: block;
//   width: calc(100% - 40px);
//   margin-left: auto;
//   margin-right: auto;
// }
// .container {
//   display: block;
//   width: 1500px;
//   margin-left: auto;
//   margin-right: auto;
// }

// @media (min-width: 480px) {
//   .container {
//     width: calc(100% - 40px);
//     margin: 0 auto;
//   }
// }
// @media (min-width: 768px) {
//   .container {
//     width: calc(100% - 40px);
//     margin: 0 auto;
//   }
// }
// @media (min-width: 992px) {
//   .container {
//     width: 962px;
//   }
// }
// @media (min-width: 1200px) {
//   .container {
//     width: 1120px;
//   }
// }
// @media (min-width: 1686px) {
//   .container {
//     width: 1456px;
//   }
// }
// @media (max-width: 1200px) {
//   // body {
//   //   width: 1200px;
//   // }
//   .container {
//     width: 1120px;
//   }
// }
