.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 999;
  &--active {
    display: block;
  }
  &-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 6, 22, 0.8);
  }
  &-wrapp {
    position: relative;
    display: block;
    max-height: 360px;
    max-width: 680px;

    z-index: 5;
    border-radius: 80px;
    padding: 70px 100px 80px 120px;
    background-image: url("../img/фон-модалка.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-tel {
    padding-bottom: 60px;
    &__title {
      padding-bottom: 15px;
    }
  }
  &-input {
    width: 326px;
    height: 50px;
    padding-left: 30px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
  }
  &-hidden {
    position: absolute;
    right: 40px;
    top: 30px;
  }
}
