.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 999;
  &-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #fdf8f4;
  }
  &-wrapp {
    position: relative;
    display: block;
    max-height: 360px;
    width: calc(100% - 40px);
    max-width: 500px;
    margin: 0 auto;
    z-index: 5;
    background-color: #fff;
  }

  &-content {
    padding: 35px 35px 20px 35px;
  }
  &-title {
    font-size: 18px;
    font-family: "HelveticaNeueCyr-Roman";

    &--bold {
      font-size: 17px;
      font-family: "HelveticaNeueCyr-Bold", sans-serif;
    }
  }
  &-input {
    width: 326px;
    height: 50px;
    padding-left: 30px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
  }
  &-hidden {
    position: absolute;
    right: 40px;
    top: 30px;
  }
  &-subtitle {
    font-size: 14px;
    font-family: "HelveticaNeueCyr-Roman";
    color: #aeaeae;
  }
}
.modal-active {
  display: block;
}
