.part {
  background-color: #e88a5f;
  padding-bottom: 70px;

  &-header {
    &__img {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #e88a5f;
        opacity: 0.1;
        z-index: 2;
      }
    }
  }

  &__title {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 230px;
    height: 30px;
    font-size: 42px;
    font-family: "BebasNeueBold", sans-serif;
    color: #fff;
    padding-top: 42px;
    z-index: 4;
  }
  &__list {
    padding: 0;
    background-color: #ffffff;
    border-radius: 5px;
  }
  &__item {
    padding: 30px 40px;
    &-title {
      font-size: 19px;
      font-family: "HelveticaNeueCyr-Bold", sans-serif;
      padding-bottom: 15px;
    }
    &-caption {
      font-size: 15px;
      font-family: "HelveticaNeueCyr-Roman", sans-serif;
      color: #454545;
    }
  }

  &--num {
    font-size: 11px;
    font-family: "HelveticaNeueCyr-Light", sans-serif;
  }
}
@media (max-width: 450px) {
  .part-header__img {
    padding-top: 20px;
  }
}
@media (max-width: 350px) {
  .part-header__img {
    padding-top: 40px;
  }
}
