.sneakers {
  &-content {
    margin-top: 10px;
  }
  &__title {
    font-size: 19px;
    padding: 15px 0;
  }
  &__text p {
    font-size: 14px;
    line-height: 16px;
    font-family: "HelveticaNeueCyr-Roman", sans-serif;
    padding-bottom: 20px;
  }
  &-size {
  }
}
.size {
  // .size__title

  &__title {
    font-size: 14px;
    line-height: 16px;
    font-family: "HelveticaNeueCyr-Roman", sans-serif;
    color: #dcdcdc;
    padding-bottom: 15px;
  }

  // .size__list

  &__list {
    display: flex;
    justify-content: start;
    padding: 0;
  }

  // .size__item

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    background-color: #faf6f0;
    border: 1px solid #f0dccf;
    border-radius: 2px;
  }

  // .size__item-caption

  &__item-caption {
    font-size: 15px;
    font-family: "HelveticaNeueCyr-Roman", sans-serif;
  }
  &-prise {
    &-inner {
      display: flex;
      align-items: flex-end;
      padding-top: 35px;
      padding-bottom: 30px;
      font-size: 22px;
      font-family: "BebasNeue-Regular";
    }
    &__stock {
      font-size: 21px;
      font-family: "BebasNeue-Light", sans-serif;
      padding: 5px;
      margin-right: 10px;
      border-radius: 30px;
      color: #ea9a78;
      background-color: #fff;
    }
    & .size__prise--num {
      font-size: 46px;
      line-height: 46px;
      margin-right: 5px;
    }
  }
}
.gallery-top img {
  width: 94%;
}
@media (max-width: 350px) {
  .gallery-top img {
    width: 92%;
  }
}
