.subscribe {
  margin: 40px 0;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    width: 60%;
    flex-basis: 50%;
    font-family: "HelveticaNeueCyr-Bold", sans-serif;
    line-height: 20px;
  }
  &__subtitle {
    width: 60%;
    font-size: 15px;
    font-family: "HelveticaNeueCyr-Roman", sans-serif;
    padding-top: 20px;
  }
}
