@charset "UTF-8";
body {
  margin: 0;
  font-family: Copperplate, sans-serif;
  color: #fff;
}

h1 {
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

h2 {
  font-weight: 800;
  font-size: 33px;
  line-height: 46px;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 45px;
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

.page-header {
  position: relative;
  padding-top: 17px;
}

.page-header__tel {
  position: absolute;
  right: 40px;
  top: 40px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.page-header__tel a {
  text-decoration: none;
  color: #fff;
}

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Copperplate, sans-serif;
}

.page-header__inner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 340px;
  margin-top: 40px;
}

.page-header__inner .logo a {
  text-decoration: none;
}

.page-header__inner .logo-img {
  padding-bottom: 5px;
}

.page-header__inner .logo-img img {
  max-height: 80px;
}

.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;
  color: #fff;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 40px;
  left: 40px;
  width: 26px;
  height: 26px;
  color: #ffffff;
  cursor: pointer;
  z-index: 100;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 9% 5% 80px 0;
  text-align: end;
  list-style: none;
  z-index: 99;
  font-size: 30px;
  line-height: 50px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: linear-gradient(89.09deg, #000927 1.12%, #051954 98.55%);
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 50px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item:hover {
  color: #a8b5de;
}

.main-nav__item--active > .main-nav__link {
  color: #fff;
}

.sticky .main-nav__link {
  color: #fff;
}

.logo {
  display: block;
}

.logo__link {
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo__caption {
  max-width: 310px;
}

.page__content {
  position: relative;
  z-index: 0;
}

.page__content-wrapp {
  position: relative;
  height: 100vh;
  background: url("../img/С-ФОНОМ.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  z-index: -1;
}

.page__content-wrapp .video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: autos;
  width: 100%;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__inner {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30vh;
  padding-top: 5vh;
}

.intro__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 20px;
}

.intro__title span {
  width: 100%;
}

.intro__subtitle {
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 40px;
  letter-spacing: 0.02em;
}

.btn-intro {
  width: 269px;
  height: 50px;
  border-radius: 100px;
}

.btn--red {
  height: 60px;
  border-radius: 100px;
  border: 5px solid rgba(147, 76, 72, 0.401);
  background: -webkit-gradient(linear, left top, right top, from(#fe5a35), to(#f33439));
  background: linear-gradient(90deg, #fe5a35 0%, #f33439 100%);
}

.btn--red .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn--red .btn__body .btn__text {
  width: 85%;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 0;
  color: #fff;
}

.btn--red .btn__body .btn__icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#fe5a35), to(#f33439));
  background: linear-gradient(90deg, #fe5a35 0%, #f33439 100%);
}

.btn--red .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 35%;
  right: 30%;
  fill: #fff;
}

@media (min-width: 1686px) {
  .intro__title {
    max-width: 80%;
    margin: 0 auto;
  }
  .intro__subtitle {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-height: 479px) and (max-height: 679px) {
  .intro__inner {
    padding-top: 3vh;
  }
}

.car {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../img/фон_3д_маш.jpg");
  background-position: center;
  background-size: cover;
  height: 900px;
}

.car-inner {
  position: relative;
  height: 800px;
  width: auto;
  -webkit-perspective: 50px;
          perspective: 50px;
  background-position: center bottom;
  background-size: cover;
}

.car-block {
  display: none;
}

.car-block--active {
  display: block;
}

.car-text__card {
  height: 100%;
  width: 100%;
  text-align: center;
}

.car-text__card span {
  font-size: 14px;
  max-width: 90%;
  color: #fff;
  opacity: 1;
}

.car-text__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  width: 100%;
  color: #fff;
  border: 1px solid #243afb;
  background-color: rgba(255, 255, 255, 0.3);
}

.car-text__header_1 {
  text-transform: uppercase;
  border-radius: 70% 0 0 0;
  -webkit-clip-path: polygon(0 25%, 100% 10%, 100% 100%, 0% 86%);
          clip-path: polygon(0 25%, 100% 10%, 100% 100%, 0% 86%);
  -webkit-transform: rotate(10deg) translate(3px, 6px);
          transform: rotate(10deg) translate(3px, 6px);
}

.car-text__header_1 span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.car-text__header_2 {
  text-transform: uppercase;
  -webkit-clip-path: polygon(3% 11%, 99% 15%, 100% 100%, 0% 100%);
          clip-path: polygon(3% 11%, 99% 15%, 100% 100%, 0% 100%);
  -webkit-transform: rotate(3deg) translate(1px, 24px);
          transform: rotate(3deg) translate(1px, 24px);
  width: 101%;
}

.car-text__header_2 span {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

.car-text__header_3 {
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 11%, 100% 11%, 100% 97%, 0% 100%);
          clip-path: polygon(0 11%, 100% 11%, 100% 97%, 0% 100%);
  -webkit-transform: rotate(0deg) translate(1px, 30px);
          transform: rotate(0deg) translate(1px, 30px);
}

.car-text__header_3 span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.car-text__header_4 {
  text-transform: uppercase;
  -webkit-clip-path: polygon(1% 19%, 98% 9%, 100% 94%, 0% 100%);
          clip-path: polygon(1% 19%, 98% 9%, 100% 94%, 0% 100%);
  -webkit-transform: rotate(-3deg) translate(0px, 22px);
          transform: rotate(-3deg) translate(0px, 22px);
}

.car-text__header_4 span {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.car-text__header_5 {
  text-transform: uppercase;
  border-radius: 0 70% 0 0;
  -webkit-clip-path: polygon(1% 10%, 100% 21%, 100% 89%, 0% 96%);
          clip-path: polygon(1% 10%, 100% 21%, 100% 89%, 0% 96%);
  -webkit-transform: rotate(-11deg) translate(-2px, 2px);
          transform: rotate(-11deg) translate(-2px, 2px);
}

.car-text__header_5 span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.car-text__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75%;
  width: 100%;
  border: 1px solid #243afb;
  background-color: rgba(255, 255, 255, 0.3);
}

.car-text__content_1 {
  -webkit-clip-path: polygon(0 0, 100% 19%, 100% 99%, 0% 79%);
          clip-path: polygon(0 0, 100% 19%, 100% 99%, 0% 79%);
  -webkit-transform: translate(0px, -11px);
          transform: translate(0px, -11px);
}

.car-text__content_1 span {
  -webkit-transform: rotate(9deg) translate(0px, 0px);
          transform: rotate(9deg) translate(0px, 0px);
}

.car-text__content_2 {
  -webkit-clip-path: polygon(0 14%, 100% 21%, 100% 100%, 0% 95%);
          clip-path: polygon(0 14%, 100% 21%, 100% 100%, 0% 95%);
  -webkit-transform: translate(0px, -4px);
          transform: translate(0px, -4px);
}

.car-text__content_2 span {
  -webkit-transform: rotate(3deg) translate(0px, 11px);
          transform: rotate(3deg) translate(0px, 11px);
}

.car-text__content_3 {
  -webkit-clip-path: polygon(0 17%, 100% 17%, 100% 97%, 0% 97%);
          clip-path: polygon(0 17%, 100% 17%, 100% 97%, 0% 97%);
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}

.car-text__content_3 span {
  -webkit-transform: rotate(0deg) translate(0px, 11px);
          transform: rotate(0deg) translate(0px, 11px);
}

.car-text__content_4 {
  -webkit-clip-path: polygon(0 20%, 100% 10%, 100% 90%, 0% 100%);
          clip-path: polygon(0 20%, 100% 10%, 100% 90%, 0% 100%);
  -webkit-transform: translate(2px, -3px);
          transform: translate(2px, -3px);
}

.car-text__content_4 span {
  -webkit-transform: rotate(-3deg) translate(0px, 8px);
          transform: rotate(-3deg) translate(0px, 8px);
}

.car-text__content_5 {
  -webkit-clip-path: polygon(0 22%, 100% -1%, 116% 74%, 0% 100%);
          clip-path: polygon(0 22%, 100% -1%, 116% 74%, 0% 100%);
  -webkit-transform: translate(2px, -18px);
          transform: translate(2px, -18px);
}

.car-text__content_5 span {
  -webkit-transform: rotate(-9deg) translate(0px, 0px);
          transform: rotate(-9deg) translate(0px, 0px);
}

.car-text {
  display: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 40px;
  left: 0;
  width: 96%;
  padding-left: 5%;
}

.car-text__border {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 266px;
  height: 120px;
  background: url("../img/car_border.svg");
  background-position: center;
  background-size: cover;
}

.car-text__border--text {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  padding: 25px 0;
}

.car-text__title {
  max-width: 300px;
  font-size: 26px;
}

.car-text__inner {
  max-width: 300px;
}

.car-text__inner::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}

.car-text__subtitle {
  font-size: 20px;
  padding-top: 20px;
}

.car-fon__bottom {
  position: relative;
  left: -4%;
  width: 1260px;
  height: 800px;
}

.car-fon__car {
  position: absolute;
  top: 0;
  bottom: 150px;
  left: 0;
  right: 0;
}

.car-3d {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-position: center;
  background-size: cover;
}

.car-3d__front {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 174px;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.car__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.car__card--front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 63%;
  padding: 0;
}

.car-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  opacity: 0.5;
}

.car-paket {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

.car-fon--car_1 {
  display: none;
}

.car-fon--car_2 {
  display: none;
}

.car-fon--car_3 {
  display: none;
}

.car-fon--car_4 {
  display: none;
}

.car-fon--car_5 {
  display: none;
}

.car-fon--active {
  display: block;
}

.car-text__content--active {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}

.about {
  position: relative;
  background: url("../img/фон_о_себе.jpg");
  background-size: cover;
  padding: 120px 0 135px 0;
}

.about-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-header {
  padding-bottom: 55px;
}

.about-header__title {
  padding-bottom: 20px;
}

.about-header__subtitle {
  width: 95%;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.about-header__subtitle p {
  padding-top: 20px;
}

.about-header__wrapp {
  position: relative;
  padding-left: 5%;
}

.about-header__wrapp::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}

.about-text {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.about-text__inner {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.about-text__inner p {
  padding-bottom: 20px;
}

.about-img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.about-img__inner {
  position: relative;
  padding-left: 5%;
}

.contact {
  position: relative;
  background-image: linear-gradient(89.12deg, #000927 1.12%, #051954 98.55%);
}

.contact-title {
  padding-bottom: 61px;
}

.contact-title__text {
  position: relative;
  letter-spacing: 0.2em;
}

.contact-title__text::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -10px;
  width: 50px;
  height: 1px;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}

.contact-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 900px;
}

.contact-adress {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 20px;
}

.contact-adress a {
  color: #fff;
}

.contact-email {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 20px;
}

.contact-email a {
  color: #fff;
}

.contact-tel {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 20px;
}

.contact-tel a {
  color: #fff;
}

.contact_work {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  padding-top: 70px;
}

.contact-text {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.contact-map {
  position: absolute;
  left: 30%;
  top: 0;
  bottom: 0;
  right: -30%;
  margin-right: -30%;
}

.contact-map__inner {
  height: 100%;
}

.gallery {
  background: url("../img/фон_галерия.jpg");
  background-size: cover;
  padding: 120px 0 115px 0;
}

.gallery-title {
  position: relative;
  padding-left: 5%;
}

.gallery-title::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}

.gallery__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
  width: 66%;
  padding: 0 10px 0 0;
}

.gallery__inner .gallery__item {
  width: 49%;
}

.gallery__inner .gallery__item-img {
  padding-left: 10px;
}

.gallery__inner-wrapp {
  max-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  overflow: auto;
  margin-top: 50px;
}

.gallery__inner-wrapp::-webkit-scrollbar-button {
  width: 6px;
  height: 0px;
}

.gallery__inner-wrapp::-webkit-scrollbar-track {
  background-color: #e5e5e5;
}

.gallery__inner-wrapp::-webkit-scrollbar-thumb {
  background-color: #006e8b;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__inner-wrapp::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 7px;
  height: 0px;
}

.gallery__inner-wrapp::-webkit-scrollbar {
  width: 11px;
}

.gallery-top {
  height: 80% !important;
}

.approach__item--slide .approach__item--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.approach__gallery--thumbs {
  margin-top: 15px;
}

.guarantee {
  position: relative;
  background: url("../img/фон_гарантия.jpg");
  background-size: cover;
  padding: 120px 0 120px 0;
}

.guarantee-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.guarantee-header {
  padding-bottom: 30px;
}

.guarantee-header__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.guarantee-header__subtitle--big {
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.05em;
}

.guarantee-header__wrapp {
  position: relative;
  padding-left: 5%;
}

.guarantee-header__wrapp::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}

.guarantee__titlt {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.guarantee-text {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.guarantee-text__border {
  background: url("../img/border-low.svg");
  background-position: center;
  background-size: cover;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 20px 10px;
  text-align: center;
  margin-right: 12%;
  margin-bottom: 35px;
}

.guarantee-text p {
  padding-top: 30px;
  padding-bottom: 40px;
}

.guarantee-text span {
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 24px;
}

.guarantee-img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  position: relative;
}

.guarantee-img::before {
  position: absolute;
  content: "";
  right: 0;
  left: 0%;
  top: 10%;
  bottom: 0;
  opacity: 1;
  max-height: 80%;
  width: 52%;
  background: url("../img/сертификат1.png");
  background-repeat: no-repeat;
  background-position: bottom, left;
  background-size: cover;
}

.guarantee-img__inner {
  position: relative;
  padding-left: 30%;
}

.guarantee--img {
  height: 430px;
}

.insurance {
  position: relative;
  background: url("../img/фон_полис.jpg");
  background-size: cover;
  padding: 120px 0 80px 0;
}

.insurance-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.insurance__titlt {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 40px;
}

.insurance-header {
  padding-bottom: 95px;
}

.insurance-header__title {
  padding-bottom: 20px;
}

.insurance-header__subtitle {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.04em;
}

.insurance-header__wrapp {
  position: relative;
  padding-left: 5%;
}

.insurance-header__wrapp::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}

.insurance-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.insurance-text__border {
  background: url("../img/border-hight.svg");
  background-position: center;
  background-size: cover;
  width: 65%;
  padding: 65px 60px;
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}

.insurance-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.insurance-img::before {
  position: absolute;
  content: "";
  right: 0;
  top: 10%;
  bottom: 0;
  opacity: 1;
  width: 52%;
  max-height: 80%;
  background: url("../img/стр полис1.png");
  background-repeat: no-repeat;
  background-position: bottom, right;
  background-size: cover;
}

.insurance-img__inner {
  position: relative;
  padding-right: 30%;
}

.approach {
  position: relative;
  background: url("../img/фон_подход.png");
  background-size: cover;
  padding: 5vh 0 4vh 0;
  min-height: 100vh;
}

.approach-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.approach-slider {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  width: 55%;
}

.approach-gallery {
  width: 55%;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.approach-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.approach-text__inner {
  max-width: 95%;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.approach-text__subtitle {
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.approach-text__title {
  position: relative;
  width: 90%;
  padding-left: 10%;
  text-transform: uppercase;
}

.approach-text__title::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}

.approach-text__title-wrapp {
  position: relative;
  padding-right: 15%;
  padding-bottom: 50px;
}

.approach-text__title img {
  width: 100%;
  height: auto;
}

.approach-text__title--text {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: left;
}

.approach__gallery {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.approach__item-img {
  max-width: 50vw;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  background-color: #000000;
}

.footer-inner {
  padding-left: 20px;
}

.footer-link__studio {
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  line-height: 30px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 999;
}

.modal--active {
  display: block;
}

.modal-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 6, 22, 0.8);
}

.modal-wrapp {
  position: relative;
  display: block;
  max-height: 360px;
  max-width: 680px;
  z-index: 5;
  border-radius: 80px;
  padding: 70px 100px 80px 120px;
  background-image: url("../img/фон-модалка.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-tel {
  padding-bottom: 60px;
}

.modal-tel__title {
  padding-bottom: 15px;
}

.modal-input {
  width: 326px;
  height: 50px;
  padding-left: 30px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
}

.modal-hidden {
  position: absolute;
  right: 40px;
  top: 30px;
}

.border {
  position: relative;
  background-color: transparent;
  position: relative;
}

.border__arrows {
  border: solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.approach__gallery--top {
  height: 80%;
  width: 100%;
}

.approach__gallery--thumbs {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.approach__gallery--thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.approach__gallery--thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.btn-main {
  width: 310px;
  height: 55px;
  border-radius: 100px;
  background: url("../img/btn.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid transparent;
}

.btn-sm {
  width: 235px;
  background: url("../img/btn-small.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid transparent;
}

.btn {
  color: #fff;
  background-color: transparent;
  border-radius: 100px;
}

.btn .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn .btn__body .btn__text {
  width: 85%;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  color: #fff;
}

.btn .btn__body .btn__icon {
  display: block;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: calc(35% - 4px);
  right: 15%;
  fill: #fff;
}

.btn--non-arrows {
  color: #fff;
  background-color: transparent;
  border-radius: 100px;
}

.btn--non-arrows .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn--non-arrows .btn__body .btn__text {
  width: 100%;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  letter-spacing: 0.2em;
  color: #fff;
}

.btn--non-arrows .btn__body .btn__icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn--non-arrows .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 35%;
  right: 30%;
  fill: #fff;
}

.btn-car {
  position: absolute;
  bottom: 70px;
  left: calc(50% - 120px);
  color: #fff;
  background-color: transparent;
  border-radius: 100px;
}

.btn-car .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn-car .btn__body .btn__text {
  width: 100%;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  letter-spacing: 0.2em;
  color: #fff;
}

.btn-car .btn__body .btn__icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-car .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 35%;
  right: 30%;
  fill: #fff;
}

.scrolling {
  position: absolute;
  top: 0;
  top: 47%;
  left: 40px;
  z-index: 1;
}

/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */
#tridiv {
  -webkit-perspective: 800px;
          perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
}

.face {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}

.scene,
.shape,
.face,
.face-wrapper,
.cr {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
}

.face,
.face-wrapper {
  overflow: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}

.face {
  background-size: 100% 100% !important;
  background-position: center;
}

.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%;
}

.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.side {
  left: 50%;
}

.cr,
.cr .side {
  height: 100%;
}

[class*="cylinder"] .tp {
  -webkit-transform: rotateX(90deg) translateY(-50%);
          transform: rotateX(90deg) translateY(-50%);
}

[class*="cylinder"] .bm {
  -webkit-transform: rotateX(-90deg) translateY(-50%);
          transform: rotateX(-90deg) translateY(-50%);
}

[class*="cylinder"] .tp,
[class*="cylinder"] .bm,
[class*="cylinder"] .tp .photon-shader,
[class*="cylinder"] .bm .photon-shader {
  border-radius: 50%;
}

[class*="cylinder"] .bm {
  top: 100%;
}

/* .cyl-1 styles */
.cyl-1 {
  -webkit-transform: translate3D(23.0625em, -6.0625em, 23.0625em) rotateX(180deg) rotateY(2.8deg) rotateZ(0deg);
          transform: translate3D(23.0625em, -6.0625em, 23.0625em) rotateX(180deg) rotateY(2.8deg) rotateZ(0deg);
  opacity: 1;
  width: 15.625em;
  height: 1.625em;
  margin: -0.8125em 0 0 -7.8125em;
}

.cyl-1 .tp,
.cyl-1 .bm {
  width: 15.625em;
  height: 15.625em;
}

.cyl-1 .side {
  width: 2.4997568800708794em;
  height: 1.625em;
}

.cyl-1 .s0 {
  -webkit-transform: rotateY(9deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(9deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s1 {
  -webkit-transform: rotateY(27deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(27deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s2 {
  -webkit-transform: rotateY(45deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(45deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s3 {
  -webkit-transform: rotateY(63deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(63deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s4 {
  -webkit-transform: rotateY(81deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(81deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s5 {
  -webkit-transform: rotateY(99deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(99deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s6 {
  -webkit-transform: rotateY(117deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(117deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s7 {
  -webkit-transform: rotateY(135deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(135deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s8 {
  -webkit-transform: rotateY(153deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(153deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s9 {
  -webkit-transform: rotateY(171deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(171deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s10 {
  -webkit-transform: rotateY(189deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(189deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s11 {
  -webkit-transform: rotateY(207deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(207deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s12 {
  -webkit-transform: rotateY(225deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(225deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s13 {
  -webkit-transform: rotateY(243deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(243deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s14 {
  -webkit-transform: rotateY(261deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(261deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s15 {
  -webkit-transform: rotateY(279deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(279deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s16 {
  -webkit-transform: rotateY(297deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(297deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s17 {
  -webkit-transform: rotateY(315deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(315deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s18 {
  -webkit-transform: rotateY(333deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(333deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s19 {
  -webkit-transform: rotateY(351deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(351deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .face,
.cyl-1 .side {
  background-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */