@charset "UTF-8";
body {
  margin: 0;
  font-family: Copperplate, sans-serif;
  color: #fff;
}

h1 {
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

h2 {
  font-weight: 800;
  font-size: 33px;
  line-height: 46px;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 45px;
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.container {
  display: block;
  width: calc(100% - 40px);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  position: relative;
  height: 240px;
  padding-top: 17px;
  background-image: url("../img/header-bac.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.page-header__img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  width: 70%;
  margin: 0 auto;
}

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Copperplate, sans-serif;
}

.page-header__inner .logo {
  display: none;
  max-width: 340px;
  margin-top: 40px;
}

.page-header__inner .logo-img {
  padding-bottom: 5px;
}

.page-header__inner .logo-img img {
  max-height: 80px;
}

.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;
  color: #fff;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 20px;
  right: 5px;
  width: 40px;
  height: 30px;
  color: #000000;
  cursor: pointer;
  z-index: 100;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #000000;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  width: 40px;
  right: 0px;
  top: -10px;
}

.menu__btn > span::after {
  content: "";
  width: 40px;
  right: 0px;
  top: 10px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 9% 5% 80px 0;
  text-align: end;
  list-style: none;
  z-index: 99;
  font-size: 30px;
  line-height: 50px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: linear-gradient(89.09deg, #000927 1.12%, #051954 98.55%);
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 50px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item:hover {
  color: #a8b5de;
}

.main-nav__item--active > .main-nav__link {
  color: #fff;
}

.sticky .main-nav__link {
  color: #fff;
}

.logo {
  display: block;
}

.logo__link {
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo__caption {
  max-width: 310px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 999;
}

.modal--active {
  display: block;
}

.modal-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 6, 22, 0.8);
}

.modal-wrapp {
  position: relative;
  display: block;
  max-height: 360px;
  max-width: 680px;
  z-index: 5;
  border-radius: 80px;
  padding: 70px 100px 80px 120px;
  background-image: url("../img/фон-модалка.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-tel {
  padding-bottom: 60px;
}

.modal-tel__title {
  padding-bottom: 15px;
}

.modal-input {
  width: 326px;
  height: 50px;
  padding-left: 30px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
}

.modal-hidden {
  position: absolute;
  right: 40px;
  top: 30px;
}

.btn-main {
  width: 310px;
  height: 55px;
  border-radius: 100px;
  background: url("../img/btn.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid transparent;
}

.btn-sm {
  width: 235px;
  background: url("../img/btn-small.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid transparent;
}

.btn {
  color: #fff;
  background-color: transparent;
  border-radius: 100px;
}

.btn .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn .btn__body .btn__text {
  width: 85%;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  color: #fff;
}

.btn .btn__body .btn__icon {
  display: block;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: calc(35% - 4px);
  right: 15%;
  fill: #fff;
}

.btn--non-arrows {
  color: #fff;
  background-color: transparent;
  border-radius: 100px;
}

.btn--non-arrows .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn--non-arrows .btn__body .btn__text {
  width: 100%;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  letter-spacing: 0.2em;
  color: #fff;
}

.btn--non-arrows .btn__body .btn__icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn--non-arrows .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 35%;
  right: 30%;
  fill: #fff;
}

.btn-car {
  position: absolute;
  bottom: 70px;
  left: calc(50% - 120px);
  color: #fff;
  background-color: transparent;
  border-radius: 100px;
}

.btn-car .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn-car .btn__body .btn__text {
  width: 100%;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  letter-spacing: 0.2em;
  color: #fff;
}

.btn-car .btn__body .btn__icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-car .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 35%;
  right: 30%;
  fill: #fff;
}
/*# sourceMappingURL=style.css.map */