@charset "UTF-8";
@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 700;
  font-style: normal;
  src: local("BebasNeue Bold"), local("BebasNeue-Bold"), url("../fonts/BebasNeueBold.otf") format("otf"), url("../fonts/BebasNeueBold.ttf") format("ttf");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  font-style: normal;
  src: local("BebasNeue-Book"), local("BebasNeue-Book"), url("../fonts/BebasNeue Book.otf") format("otf"), url("../fonts/BebasNeue Book.ttf") format("ttf");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 300;
  font-style: normal;
  src: local("BebasNeue-Light"), local("BebasNeue-Light"), url("../fonts/BebasNeue Light.otf") format("otf"), url("../fonts/BebasNeue Light.ttf") format("ttf");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  font-style: normal;
  src: local("BebasNeue-Regular"), local("BebasNeue-Regular"), url("../fonts/BebasNeue Regular.otf") format("otf"), url("../fonts/BebasNeue Regular.ttf") format("ttf");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  font-style: normal;
  src: local("BebasNeue-Thin"), local("BebasNeue-Thin"), url("../fonts/BebasNeue Thin.otf") format("otf"), url("../fonts/BebasNeue Thin.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 900;
  font-style: normal;
  src: local("HelveticaNeueCyr-Black"), url("../fonts/HelveticaNeueCyr-Black.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 900;
  font-style: italic;
  src: local("HelveticaNeueCyr-BlackItalic"), url("../fonts/HelveticaNeueCyr-BlackItalic.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 700;
  font-style: normal;
  src: local("HelveticaNeueCyr-Bold"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: italic;
  font-style: italic;
  src: local("HelveticaNeueCyr-BoldItalic"), url("../fonts/HelveticaNeueCyr-BoldItalic.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-style: italic;
  src: local("HelveticaNeueCyr-Italic"), url("../fonts/HelveticaNeueCyr-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 300;
  font-style: normal;
  src: local("HelveticaNeueCyr-Light"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 300;
  font-style: italic;
  src: local("HelveticaNeueCyr-LightItalic"), url("../fonts/HelveticaNeueCyr-LightItalic.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  font-style: normal;
  src: local("HelveticaNeueCyr-Medium"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-style: normal;
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 100;
  font-style: normal;
  src: local("HelveticaNeueCyr-Thin"), url("../fonts/HelveticaNeueCyr-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 100;
  font-style: italic;
  src: local("HelveticaNeueCyr-ThinItalic"), url("../fonts/HelveticaNeueCyr-ThinItalic.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 200;
  font-style: normal;
  src: local("HelveticaNeueCyr-UltraLight"), url("../fonts/HelveticaNeueCyr-UltraLight.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 200;
  font-style: italic;
  src: local("HelveticaNeueCyr-UltraLightItalic"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.ttf") format("ttf");
}

body {
  width: 100%;
  margin: 0;
  color: #000000;
  overflow-x: hidden;
}

h1 {
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

h2 {
  font-weight: 800;
  font-size: 33px;
  line-height: 46px;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 45px;
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.container {
  display: block;
  width: calc(100% - 40px);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  position: relative;
  height: 240px;
  padding-top: 17px;
  background-image: url("../img/header-bac.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.page-header__img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  width: 70%;
  margin: 0 auto;
}

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Copperplate, sans-serif;
}

.page-header__inner .logo {
  display: none;
  max-width: 340px;
  margin-top: 40px;
}

.page-header__inner .logo-img {
  padding-bottom: 5px;
}

.page-header__inner .logo-img img {
  max-height: 80px;
}

.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;
  color: #000000;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: transparent;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #dedddd;
  border: none;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #dedddd;
  border: none;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  top: 20px;
  right: 5px;
  width: 40px;
  height: 30px;
  color: #000000;
  cursor: pointer;
  z-index: 100;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: fixed;
  width: 30px;
  height: 5px;
  top: 27px;
  right: 5px;
  background-color: #000000;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  width: 40px;
  top: 18px;
}

.menu__btn > span::after {
  content: "";
  width: 40px;
  top: 37px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 140px 5% 80px 0;
  list-style: none;
  z-index: 99;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.04em;
  background: #fef9f6;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 0px 24px;
  color: #454545;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item:hover {
  color: #f4b393;
}

.main-nav__item--active > .main-nav__link {
  color: #000000;
}

.sticky .main-nav__link {
  color: #000000;
}

.logo {
  display: block;
}

.logo__link {
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo__caption {
  max-width: 310px;
}

.intro__title {
  width: 100%;
  font-size: 50px;
  line-height: 73px;
  font-family: "BebasNeueBold";
  text-transform: uppercase;
}

.text--orange {
  min-width: 100%;
  color: #ffb380;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 999;
}

.modal--active {
  display: block;
}

.modal-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 6, 22, 0.8);
}

.modal-wrapp {
  position: relative;
  display: block;
  max-height: 360px;
  max-width: 680px;
  z-index: 5;
  border-radius: 80px;
  padding: 70px 100px 80px 120px;
  background-image: url("../img/фон-модалка.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-tel {
  padding-bottom: 60px;
}

.modal-tel__title {
  padding-bottom: 15px;
}

.modal-input {
  width: 326px;
  height: 50px;
  padding-left: 30px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
}

.modal-hidden {
  position: absolute;
  right: 40px;
  top: 30px;
}

.btn-main {
  width: 310px;
  height: 55px;
  border-radius: 100px;
  background: url("../img/btn.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid transparent;
}

.btn-sm {
  width: 235px;
  background: url("../img/btn-small.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid transparent;
}

.btn {
  color: #fff;
  background-color: transparent;
  border-radius: 100px;
}

.btn .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn .btn__body .btn__text {
  width: 85%;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  color: #000000;
}

.btn .btn__body .btn__icon {
  display: block;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: calc(35% - 4px);
  right: 15%;
  fill: #fff;
}

.btn--non-arrows {
  color: #fff;
  background-color: transparent;
  border-radius: 100px;
}

.btn--non-arrows .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn--non-arrows .btn__body .btn__text {
  width: 100%;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  letter-spacing: 0.2em;
  color: #000000;
}

.btn--non-arrows .btn__body .btn__icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn--non-arrows .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 35%;
  right: 30%;
  fill: #fff;
}

.btn-car {
  position: absolute;
  bottom: 70px;
  left: calc(50% - 120px);
  color: #fff;
  background-color: transparent;
  border-radius: 100px;
}

.btn-car .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn-car .btn__body .btn__text {
  width: 100%;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  letter-spacing: 0.2em;
  color: #000000;
}

.btn-car .btn__body .btn__icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-car .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 35%;
  right: 30%;
  fill: #fff;
}
/*# sourceMappingURL=style.css.map */